header {
  background-color: hsl(209deg 68% 7%);
  height: 120px;
}

.logo {
  width: 80px;
  margin-left: 200px;
  margin-top: 20px;
}

main {
  background-color: hsl(209deg 35% 17%);
  height: calc(100vh - 120px);
}

.img-song {
  height: 200px;
  margin-top: 20px;
}

.bg-card {
  background-color: hsl(211deg 48% 13%);
  border-radius: 10px;
  height: 385px;
  width: 330px;
  padding-left: 10px;
  padding-right: 10px;
}

.bold {
  font-weight: bolder;
}
